.featured-image{
    width: 50%;
    height: 50vh;
    background-size: cover;
}

.img.loading{
    opacity: 10;
}

.img{
    opacity: 1;
    transition: opacity 300ms ease;
}

.thumbnail{
    border: 1px solid #ddd; /* Gray border */
    border-radius: 4px;  /* Rounded border */
    padding: 5px; /* Some padding */
    width: auto; /* Set a small width */
}

/* Add a hover effect (blue shadow) */
.thumbnail:hover {
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.5);
}