
<!--
<div *ngIf="single_img">
  <div class="featured-image img"
       [ngStyle]="{'background-image': 'url(' + single_img.post_url + '/download)'}"
       [class.loading]="single_img.loading"></div>
</div>

<div *ngIf="img_collection">
  <div *ngFor="let img of img_collection">
    <div class="single-img-collection img"
         [ngStyle]="{'background-image': 'url(' + img.post_url + '/download)'}"
         [class.loading]="img.loading">
    </div>
  </div>
</div>

-->
<h2 class="page-header">Upload Image</h2>


<form (submit)="onUploadSubmit()">

  <div class="form-group">
    <label>Image</label>
    <input type="file" (change)="onChange($event)"/>

  </div>
<!--  <div class="form-group">
    <label>Tags</label>
    <input type="text" [(ngModel)]="imagePath" name="path" class="form-control">
  </div>
-->
  <input type="submit" class="btn btn-primary" value="Submit">
</form>